{%extends 'all-pics/base.html'%}
{% block content %} 
{{ block.super}}
<h1 class='text-center'>Pics for {{date|date:"l d-F Y"}}</h1> 

<div class="container">
<div class="row">
  <!-- Looping through pics   -->
  {% for pics_item in pics %}
    <!-- displaying News articles -->
    <div class="col-md-4 no-pad ">
        <h1>{{pics_item.image_name}}</h1>
        <img src="{{pics_item.post_image.url}}" class="img-responsive" alt="Image" style="width: 500px; height: 250px;">
    </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No Pictures</h2>
  </div>
  {% endfor %}
  
</div>
</div>

{% endblock %}